flows.json
[
    {
        "id": "2dd2e60046001308",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54b2f6e5bd892460",
        "type": "mqtt in",
        "z": "2dd2e60046001308",
        "name": "",
        "topic": "fiap/eventos-extremos/alertas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 340,
        "wires": [
            [
                "236381b94009bc28",
                "5ba536943e13b2cd"
            ]
        ]
    },
    {
        "id": "236381b94009bc28",
        "type": "debug",
        "z": "2dd2e60046001308",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ba536943e13b2cd",
        "type": "ui_template",
        "z": "2dd2e60046001308",
        "group": "54dd2e902608cee2",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);\n    color: #163DEA;\n    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n    padding: 25px;\n    border-radius: 12px;\n    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);\n    max-width: 650px;\n    margin: 20px auto;\n    border: 2px solid #163DEA;\n    animation: pulseBlue 1.8s infinite;\n    position: relative;\n    overflow: hidden;\n\">\n\n    <!-- Efeito de partículas -->\n    <div style=\"\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: radial-gradient(circle at 70% 20%, rgba(22, 61, 234, 0.1) 0%, transparent 70%);\n        pointer-events: none;\n    \"></div>\n\n    <!-- Cabeçalho -->\n    <div style=\"\n        display: flex;\n        align-items: center;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n    \">\n        <div style=\"\n            background: #163DEA;\n            width: 50px;\n            height: 50px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-right: 15px;\n            box-shadow: 0 4px 15px rgba(22, 61, 234, 0.4);\n        \">\n            <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"white\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path d=\"M12 2L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 2ZM12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17ZM12 11C11.45 11 11 10.55 11 10V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V10C13 10.55 12.55 11 12 11Z\" />\n            </svg>\n        </div>\n        <div>\n            <h2 style=\"\n                color: #163DEA;\n                margin: 0;\n                font-size: 24px;\n                font-weight: 600;\n                letter-spacing: 0.5px;\n                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n            \">Swift Safety Sensor</h2>\n            <p style=\"\n                color: #163DEA;\n                margin: 5px 0 0 0;\n                font-size: 14px;\n                opacity: 0.8;\n            \">Tracking Eventos Climáticos</p>\n        </div>\n    </div>\n\n    <!-- Corpo da Mensagem -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <p style=\"\n            white-space: pre-line;\n            font-size: 16px;\n            color: #163DEA;\n            line-height: 1.6;\n            margin: 0;\n            font-weight: 500;\n        \">\n            {{msg.payload}}\n        </p>\n    </div>\n\n    <!-- Rodapé -->\n    <div style=\"\n        text-align: center;\n        font-size: 12px;\n        color: #6b7280;\n        margin-top: 15px;\n        position: relative;\n        z-index: 1;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    \">\n        <svg width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"#163DEA\" xmlns=\"http://www.w3.org/2000/svg\" style=\"margin-right: 8px;\">\n            <path d=\"M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z\" />\n        </svg>\n        Esta é uma mensagem automática. Siga os protocolos de segurança.\n    </div>\n\n</div>\n\n<!-- Animação -->\n<style>\n    @keyframes pulseBlue {\n        0% {\n            box-shadow: 0 0 10px rgba(22, 61, 234, 0.3);\n            transform: translateY(0);\n        }\n        50% {\n            box-shadow: 0 0 20px rgba(22, 61, 234, 0.6);\n            transform: translateY(-2px);\n        }\n        100% {\n            box-shadow: 0 0 10px rgba(22, 61, 234, 0.3);\n            transform: translateY(0);\n        }\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1120,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a17d4f98e622db95",
        "type": "debug",
        "z": "2dd2e60046001308",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "ef0ba926ed29f95a",
        "type": "mqtt in",
        "z": "2dd2e60046001308",
        "name": "",
        "topic": "fiap/eventos-extremos/sensor1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a17d4f98e622db95",
                "59775960773ff8f7"
            ]
        ]
    },
    {
        "id": "59775960773ff8f7",
        "type": "ui_template",
        "z": "2dd2e60046001308",
        "group": "29181e19c8f3dd0b",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);\n    color: #163DEA;\n    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n    padding: 25px;\n    border-radius: 12px;\n    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);\n    max-width: 700px;\n    margin: 20px auto;\n    border: 2px solid #163DEA;\n    animation: pulseBlue 1.8s infinite;\n    position: relative;\n    overflow: hidden;\n\">\n    <!-- Efeito de partículas -->\n    <div style=\"\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: radial-gradient(circle at 70% 20%, rgba(22, 61, 234, 0.1) 0%, transparent 70%);\n        pointer-events: none;\n    \"></div>\n\n    <!-- Cabeçalho -->\n    <div style=\"\n        display: flex;\n        align-items: center;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n    \">\n        <div style=\"\n            background: #163DEA;\n            width: 50px;\n            height: 50px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-right: 15px;\n            box-shadow: 0 4px 15px rgba(22, 61, 234, 0.4);\n        \">\n            <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"white\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path\n                    d=\"M12 2L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 2ZM12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17ZM12 11C11.45 11 11 10.55 11 10V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V10C13 10.55 12.55 11 12 11Z\" />\n            </svg>\n        </div>\n        <div>\n            <h2 style=\"\n                color: #163DEA;\n                margin: 0;\n                font-size: 24px;\n                font-weight: 600;\n                letter-spacing: 0.5px;\n                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n            \">Swift Sensor Control</h2>\n            <p style=\"\n                color: #163DEA;\n                margin: 5px 0 0 0;\n                font-size: 14px;\n                opacity: 0.8;\n            \">Monitoramento de Eventos Climáticos</p>\n        </div>\n    </div>\n\n    <!-- Corpo do Painel de Controle -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Status do Sensor</h3>\n\n        <div style=\"display: flex; flex-wrap: wrap; gap: 15px;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Temperatura:</strong> <span id=\"temperatura\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Umidade:</strong> <span id=\"umidade\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Chuva:</strong> <span id=\"chuva\">0 mm</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Vento:</strong> <span id=\"vento\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n    <!-- Controle de Parâmetros -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Ajuste de Parâmetros</h3>\n\n        <div style=\"display: flex; gap: 15px; flex-wrap: wrap;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"temp-control\" style=\"font-size: 14px; color: #163DEA;\">Temperatura</label>\n                <input type=\"range\" id=\"temp-control\" min=\"-10\" max=\"50\" step=\"0.1\" value=\"-4.1\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"temp-value\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"umidade-control\" style=\"font-size: 14px; color: #163DEA;\">Umidade</label>\n                <input type=\"range\" id=\"umidade-control\" min=\"0\" max=\"100\" step=\"1\" value=\"40\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"umidade-value\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"vento-control\" style=\"font-size: 14px; color: #163DEA;\">Vento</label>\n                <input type=\"range\" id=\"vento-control\" min=\"0\" max=\"30\" step=\"0.1\" value=\"2.9\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"vento-value\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n<style>\n    @keyframes pulseBlue {\n        0% {\n            box-shadow: 0 0 10px rgba(22, 61, 234, 0.3);\n            transform: translateY(0);\n        }\n\n        50% {\n            box-shadow: 0 0 20px rgba(22, 61, 234, 0.6",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8040dca04676a464",
        "type": "debug",
        "z": "2dd2e60046001308",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 20,
        "wires": []
    },
    {
        "id": "c65e610ba394f401",
        "type": "mqtt in",
        "z": "2dd2e60046001308",
        "name": "",
        "topic": "fiap/eventos-extremos/sensor2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "8040dca04676a464",
                "12a7a9b1544f2c74"
            ]
        ]
    },
    {
        "id": "12a7a9b1544f2c74",
        "type": "ui_template",
        "z": "2dd2e60046001308",
        "group": "2498c969dfb4b527",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);\n    color: #163DEA;\n    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n    padding: 25px;\n    border-radius: 12px;\n    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);\n    max-width: 700px;\n    margin: 20px auto;\n    border: 2px solid #163DEA;\n    animation: pulseBlue 1.8s infinite;\n    position: relative;\n    overflow: hidden;\n\">\n    <!-- Efeito de partículas -->\n    <div style=\"\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: radial-gradient(circle at 70% 20%, rgba(22, 61, 234, 0.1) 0%, transparent 70%);\n        pointer-events: none;\n    \"></div>\n\n    <!-- Cabeçalho -->\n    <div style=\"\n        display: flex;\n        align-items: center;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n    \">\n        <div style=\"\n            background: #163DEA;\n            width: 50px;\n            height: 50px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-right: 15px;\n            box-shadow: 0 4px 15px rgba(22, 61, 234, 0.4);\n        \">\n            <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"white\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path\n                    d=\"M12 2L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 2ZM12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17ZM12 11C11.45 11 11 10.55 11 10V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V10C13 10.55 12.55 11 12 11Z\" />\n            </svg>\n        </div>\n        <div>\n            <h2 style=\"\n                color: #163DEA;\n                margin: 0;\n                font-size: 24px;\n                font-weight: 600;\n                letter-spacing: 0.5px;\n                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n            \">Swift Sensor Control</h2>\n            <p style=\"\n                color: #163DEA;\n                margin: 5px 0 0 0;\n                font-size: 14px;\n                opacity: 0.8;\n            \">Monitoramento de Eventos Climáticos</p>\n        </div>\n    </div>\n\n    <!-- Corpo do Painel de Controle -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Status do Sensor</h3>\n\n        <div style=\"display: flex; flex-wrap: wrap; gap: 15px;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Temperatura:</strong> <span id=\"temperatura\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Umidade:</strong> <span id=\"umidade\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Chuva:</strong> <span id=\"chuva\">0 mm</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Vento:</strong> <span id=\"vento\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n    <!-- Controle de Parâmetros -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Ajuste de Parâmetros</h3>\n\n        <div style=\"display: flex; gap: 15px; flex-wrap: wrap;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"temp-control\" style=\"font-size: 14px; color: #163DEA;\">Temperatura</label>\n                <input type=\"range\" id=\"temp-control\" min=\"-10\" max=\"50\" step=\"0.1\" value=\"-4.1\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"temp-value\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"umidade-control\" style=\"font-size: 14px; color: #163DEA;\">Umidade</label>\n                <input type=\"range\" id=\"umidade-control\" min=\"0\" max=\"100\" step=\"1\" value=\"40\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"umidade-value\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"vento-control\" style=\"font-size: 14px; color: #163DEA;\">Vento</label>\n                <input type=\"range\" id=\"vento-control\" min=\"0\" max=\"30\" step=\"0.1\" value=\"2.9\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"vento-value\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n    <style>\n        @keyframes pulseBlue {\n            0% {\n                box-shadow: 0 0 10px rgba(22, 61, 234, 0.3);\n                transform: translateY(0);\n            }\n\n            50% {\n                box-shadow: 0 0 20px rgba(22, 61, 234, 0.6",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f941e71cfa432cc3",
        "type": "mqtt in",
        "z": "2dd2e60046001308",
        "name": "",
        "topic": "fiap/eventos-extremos/sensor3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "f6853b0d8079f7de",
                "ee0a05afa0f944bd"
            ]
        ]
    },
    {
        "id": "f6853b0d8079f7de",
        "type": "debug",
        "z": "2dd2e60046001308",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "ee0a05afa0f944bd",
        "type": "ui_template",
        "z": "2dd2e60046001308",
        "group": "29181e19c8f3dd0b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);\n    color: #163DEA;\n    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n    padding: 25px;\n    border-radius: 12px;\n    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);\n    max-width: 700px;\n    margin: 20px auto;\n    border: 2px solid #163DEA;\n    animation: pulseBlue 1.8s infinite;\n    position: relative;\n    overflow: hidden;\n\">\n    <!-- Efeito de partículas -->\n    <div style=\"\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: radial-gradient(circle at 70% 20%, rgba(22, 61, 234, 0.1) 0%, transparent 70%);\n        pointer-events: none;\n    \"></div>\n\n    <!-- Cabeçalho -->\n    <div style=\"\n        display: flex;\n        align-items: center;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n    \">\n        <div style=\"\n            background: #163DEA;\n            width: 50px;\n            height: 50px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-right: 15px;\n            box-shadow: 0 4px 15px rgba(22, 61, 234, 0.4);\n        \">\n            <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"white\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path\n                    d=\"M12 2L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 2ZM12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17ZM12 11C11.45 11 11 10.55 11 10V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V10C13 10.55 12.55 11 12 11Z\" />\n            </svg>\n        </div>\n        <div>\n            <h2 style=\"\n                color: #163DEA;\n                margin: 0;\n                font-size: 24px;\n                font-weight: 600;\n                letter-spacing: 0.5px;\n                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n            \">Swift Sensor Control</h2>\n            <p style=\"\n                color: #163DEA;\n                margin: 5px 0 0 0;\n                font-size: 14px;\n                opacity: 0.8;\n            \">Monitoramento de Eventos Climáticos</p>\n        </div>\n    </div>\n\n    <!-- Corpo do Painel de Controle -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Status do Sensor</h3>\n\n        <div style=\"display: flex; flex-wrap: wrap; gap: 15px;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Temperatura:</strong> <span id=\"temperatura\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Umidade:</strong> <span id=\"umidade\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Chuva:</strong> <span id=\"chuva\">0 mm</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <strong>Vento:</strong> <span id=\"vento\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n    <!-- Controle de Parâmetros -->\n    <div style=\"\n        background: #ffffff;\n        padding: 20px;\n        border-radius: 8px;\n        border-left: 4px solid #163DEA;\n        margin-bottom: 20px;\n        position: relative;\n        z-index: 1;\n        box-shadow: inset 0 0 0 1px #e0e0e0;\n    \">\n        <h3 style=\"color: #163DEA; font-weight: 600; margin-bottom: 10px;\">Ajuste de Parâmetros</h3>\n\n        <div style=\"display: flex; gap: 15px; flex-wrap: wrap;\">\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"temp-control\" style=\"font-size: 14px; color: #163DEA;\">Temperatura</label>\n                <input type=\"range\" id=\"temp-control\" min=\"-10\" max=\"50\" step=\"0.1\" value=\"-4.1\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"temp-value\">-4.1°C</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"umidade-control\" style=\"font-size: 14px; color: #163DEA;\">Umidade</label>\n                <input type=\"range\" id=\"umidade-control\" min=\"0\" max=\"100\" step=\"1\" value=\"40\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"umidade-value\">40%</span>\n            </div>\n            <div style=\"flex: 1; min-width: 180px;\">\n                <label for=\"vento-control\" style=\"font-size: 14px; color: #163DEA;\">Vento</label>\n                <input type=\"range\" id=\"vento-control\" min=\"0\" max=\"30\" step=\"0.1\" value=\"2.9\" style=\"width: 100%;\" onchange=\"updateSensorData()\">\n                <span id=\"vento-value\">2.9 m/s</span>\n            </div>\n        </div>\n    </div>\n\n    <style>\n        @keyframes pulseBlue {\n            0% {\n                box-shadow: 0 0 10px rgba(22, 61, 234, 0.3);\n                transform: translateY(0);\n            }\n\n            50% {\n                box-shadow: 0 0 20px rgba(22, 61, 234, 0.6",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "29692773c0e3c292",
        "type": "ui_spacer",
        "z": "2dd2e60046001308",
        "name": "spacer",
        "group": "9209ebba6fcab075",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "adb114682f965e27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "54dd2e902608cee2",
        "type": "ui_group",
        "name": "Alerta",
        "tab": "e02975db086f16db",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29181e19c8f3dd0b",
        "type": "ui_group",
        "name": "",
        "tab": "9b0d322ede19aa9c",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2498c969dfb4b527",
        "type": "ui_group",
        "name": "",
        "tab": "9b0d322ede19aa9c",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9209ebba6fcab075",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "e02975db086f16db",
        "type": "ui_tab",
        "name": "Alertas",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9b0d322ede19aa9c",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]